<!DOCTYPE html>
<html>
    
 <head>
     
  <meta charset="utf-8">
     
  <title>Make Me 3D Master</title>
       <link rel="stylesheet" type="text/css" href="index.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
 </head>
    
    
 <body class="body">
  <div class="container a1">
      
    <div class="fix">
  <button type="button" class="btn btn-info navbar-btn b1">Строения</button>
  <button type="button" class="btn btn-info navbar-btn b1">Оружие</button>
       <button type="button" class="btn btn-info navbar-btn b1">Карты</button>
       <button type="button" class="btn btn-info navbar-btn b1">Машини</button>
       <button type="button" class="btn btn-info navbar-btn b1">...</button>
       <button type="button" class="btn btn-info navbar-btn b1">...</button>
       <button type="button" class="btn btn-info navbar-btn b1">...</button>
          <button type="button" class="btn btn-info navbar-btn b1">...</button>
       <button type="button" class="btn btn-info navbar-btn b1">...</button>
       <button type="button" class="btn btn-info navbar-btn b1">...</button>
      
</div>
</div>

      <div class="a2">
          
          
    <div class="header">

        
        <div class="signin"><button type="submit" class="btn btn-primary  btn-lg " onclick="location.href='signin.html';">Sign In</button></div>          
       <div class="signup"><button type="submit" class="btn btn-success  btn-lg " onclick="location.href='signup.html';">Sign Up</button></div> 
       
     </div>
     
          <div class="mainRightBlock">
  <div class="row row-flex">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="Image of 3DModel">
      <div class="caption">
        <h3>Name of 3Dmodel</h3>
        <p>Comments:</p>
        <p><button type="button" class="btn btn-primary fingerUp">
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-primary fingerDown">
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
</button>
</p>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Add Your 3D Model</h3>
        <button type="button" class="btn btn-default btn-lg " onclick="location.href='addModel.html';">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation" class="centerNavPage">
  <ul class="pagination pagination-lg">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li  class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
          </div>
</div>
 </body>
</html>