<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>Sign Up</title>

   
    <link href="signup.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      
      <!-- jQuery JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
      
    <script type="text/javascript"  src="/API.js"> </script>
      
      
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign up</h2>
          
          <input type="text" id="inputName" class="form-control" placeholder="Your Name" required autofocus>
          
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="confinputPassword" class="form-control" placeholder="Confirm Password" required>
        
        <button id="tosignup" class="btn btn-lg btn-info btn-block button" type="submit" onclick="signUp()">Sign Up</button>
      </form>

    </div>

  </body>
    
    
    
</html>
