<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>AddModel</title>

   <link rel="stylesheet" type="text/css" href="index.css">
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <!--Own JavaScript -->
      <script type="text/javascript"  src="../front_js/API.js"> </script>
      
  </head>

  <body>
    <div class="container">

      <form class="form-addModel" ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:8080/profile/addModel/createModel' 
      method='post' 
      encType="multipart/form-data">
        <h2 class="form-addModel-heading">Add 3D Model</h2>
       <label for="text" class="sr-only" >Name</label>
       <input type="text" id="name" class="form-control inputs" name="name" placeholder="Name of your 3D Model" required autofocus>
       <span class="psevdoFile">
    <label for="uploadbtn" class="uploadButton">Download File</label>
    <input  id="psevdoFileValue" class="inputFileText form-control" type="text"/>
    <input name="modelFile" class="fileInput" id="fileUpload" type="file" size="1" required onchange="document.getElementById('psevdoFileValue').value = this.value" />
</span>
       <input name="description" type="text" class="form-control" id="comment" placeholder="Here you can describe the model">
        <button class="btn btn-lg btn-primary add" type="submit">Add</button>
      </form>
    </div>
<script type="text/javascript">
$(document).ready(function() {
    $("body").css("display", "none");

    $("body").fadeIn(2000);

	$("a.transition").click(function(event){
		event.preventDefault();
		linkLocation = this.href;
		$("body").fadeOut(1000, redirectPage);
	});

	function redirectPage() {
		window.location = linkLocation;
	}
});
</script>
  </body>
</html>
