body{
 background:white url(fon.jpg);
}

.a1{
    background:white url(fon2.jpg);
    z-index: 3;
    max-width:300px;
    position:fixed;
    height:100%;
    background-color:#F5F5F5;
    text-align:center;
    border-radius:0px 0px 0px 0px;
    box-shadow: 0 0 6px 0;
}
.a2{
background:white url(fon.jpg);
    width:70%;
    padding-left:2px;
    padding-right:2px;
    padding-bottom:2px;
    height:100%;
    
    float:left;
    margin-left:400px;
    background-color:white;  
}
.b1{
    width:100%;
    text-align:center;
}

.fix{
    padding-top:50%; 
    clear: both; 
}
.header{
    position: fixed;
    height: 60px;
    z-index: 999;
    width: 100%;
    background-color:#F5F5F5;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 0 6px 0 ;
}
.signin{
    display: inline-block;
    width: auto;
    margin: 5px;
    margin-right:0px;
    margin-bottom: 5px;
   
}
.signup{
    width:auto;
    display: inline-block;
    margin: 5px;
    margin-right:20px;
    margin-bottom: 5px;   
}
.mainRightBlock{
    background:white url(fon2.jpg);
    background-size: 100%;
    width:100%;
    margin-top:70px;
    background-color:#F5F5F5;
    padding:2%;
    box-shadow: 0 0 6px 0 ;
}
.row{
    text-align:center;
}
.row-flex {
    display: flex;
    flex-flow: row wrap;
}
.fingerDown{
   width:80%;
}
.centerNavPage{
    text-align:center;
    margin: auto;
}
.faceb{
padding:8px;
}
.tooltips {
    position: relative;
    display: inline-block;
    margin-bottom:3px;
cursor: pointer
}

.tooltips .tooltiptext {
    visibility: hidden;
    width:300px;
    background-color: gray;
    color: white;
    
    border-radius: 6px;
    padding: 5px 0;
    
      position: absolute;
    z-index: 1;
    bottom: 100%;
    left:-70%;
    margin-left: -60px;
    opacity:0.9;
}

.tooltips:hover .tooltiptext {
    visibility: visible;
}